<a href="https://colab.research.google.com/github/vandanakaviti/Spam-Mail-Prediction/blob/main/Spam_Mail_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Installing Libraries

In [120]:
import numpy as np
import pandas as pd
from sklearn.naive_bayes import MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

## Data Preprocessing

In [75]:
#Loading the dataset into a pandas dataframe usinf CP1252 encoding to read the file
raw_mail_data = pd.read_csv("spamham.csv",encoding='cp1252')

#Filling the null values with empty strings
mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [76]:
mail_data.head() #Checking the data

     v1  ... Unnamed: 4
0   ham  ...
1   ham  ...
2  spam  ...
3   ham  ...
4   ham  ...

[5 rows x 5 columns]

In [77]:
#deleting the unnecessary columns
mail_data = mail_data.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1)

mail_data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [78]:
#Renaming the columns
mail_data.columns = ['Category','Message']

mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [81]:
#Giving Labels for spam and ham as 0 and 1 respectively
mail_data.loc[mail_data['Category'] == 'spam'] = 0
mail_data.loc[mail_data['Category'] == 'ham'] = 1

In [82]:
mail_data.head()

  Category                                            Message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...

0 ---> Spam mail

1 ---> Ham mail

In [83]:
#Separating the features(messages) and labels with different variables
#x --> text
#y --> label
x = mail_data['Message']
y = mail_data['Category']

In [84]:
print(x.shape,y.shape)

(5572,) (5572,)

In [93]:
print(x)
print('--------------------------------')
print(y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object
--------------------------------
0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

## Train Test Split

In [97]:
#Keeping 20% aside as testing dataset
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2, random_state = 3)

## Feature Extraction

In [115]:
#To extract features from the text messages, TFIDF Vectorizer is used
features = TfidfVectorizer(min_df = 1, lowercase = True, stop_words = 'english')

x_train_features = features.fit_transform(x_train)
x_test_features = features.transform(x_test)

#Converting the labels from their array forms into integer types
y_train = y_train.astype(int)
y_test = y_test.astype(int)

##Training the models

### Training the Naive Bayes model

In [128]:
nb_model = MultinomialNB().fit(x_train_features, y_train)

###Training the KNN Model

In [126]:
knn_model = KNeighborsClassifier().fit(x_train_features, y_train)

### Training the SVM model

In [125]:
svm_model = LinearSVC().fit(x_train_features, y_train)

### Evaluation

In [134]:
#On Training data
y_train_pred_with_nb = nb_model.predict(x_train_features)
y_train_pred_with_knn = knn_model.predict(x_train_features)
y_train_pred_with_svm = svm_model.predict(x_train_features)

accuracy_train_with_nb = accuracy_score(y_train, y_train_pred_with_nb)
accuracy_train_with_knn = accuracy_score(y_train, y_train_pred_with_knn)
accuracy_train_with_svm = accuracy_score(y_train, y_train_pred_with_svm)

print('On training data,')
print(f'Accuracy of the Naive Bayes model is {accuracy_train_with_nb}')
print(f'Accuracy of the KNN model is {accuracy_train_with_knn}')
print(f'Accuracy of the SVM model is {accuracy_train_with_svm}')

On training data,
Accuracy of the Naive Bayes model is 0.9822750729190038
Accuracy of the KNN model is 0.9199012788871438
Accuracy of the SVM model is 0.9995512676688355

In [135]:
#On Test data
y_test_pred_with_nb = nb_model.predict(x_test_features)
y_test_pred_with_knn = knn_model.predict(x_test_features)
y_test_pred_with_svm = svm_model.predict(x_test_features)

accuracy_test_with_nb = accuracy_score(y_test, y_test_pred_with_nb)
accuracy_test_with_knn = accuracy_score(y_test, y_test_pred_with_knn)
accuracy_test_with_svm = accuracy_score(y_test, y_test_pred_with_svm)

print('On Test data,')
print(f'Accuracy of the Naive Bayes model is {accuracy_test_with_nb}')
print(f'Accuracy of the KNN model is {accuracy_test_with_knn}')
print(f'Accuracy of the SVM model is {accuracy_test_with_svm}')

On Test data,
Accuracy of the Naive Bayes model is 0.9713004484304932
Accuracy of the KNN model is 0.905829596412556
Accuracy of the SVM model is 0.9856502242152466

Hence, it can be inferred that SVM model gives better accuracy

## Prediction on New mail

In [141]:
new_mail = ['Eerie Nokia tones 4u, rply TONE TITLE to 8007 eg TONE DRACULA to 8007 Titles: GHOST, ADDAMSFA, MUNSTERS, EXORCIST, TWILIGHT www.getzed.co.uk POBox36504W45WQ 150p']
new_mail_features = features.transform(new_mail)

prediction = svm_model.predict(new_mail_features)
print(prediction)

[0]

In [142]:
if prediction[0] == 0: print('SPAM MAIL!')
else: print('HAM MAIL')

SPAM MAIL!